*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Medium.otf);
}
@font-face {
    font-family: Montserrat-light;
    src: url(../assets/fonts/Montserrat-Thin.otf);
}
body{
    font-family: "Montserrat";
    background: #646E78;/*color temporal, me quema los ojos el color blanco*/
    /* background: #D7D9D7; */
}

