*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Medium.otf);
}
@font-face {
    font-family: Montserrat-light;
    src: url(../assets/fonts/Montserrat-Thin.otf);
}
body{
    font-family: "Montserrat";
    background: #BDC0BE;
}
/*CONTENIDO DE LA PAGINA CON BS Y FLEXBOX*/
.flyers{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    flex-wrap: wrap;
}

.card{
    margin: 2em;
    width: 22rem;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.destacados{
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
    justify-content: space-around;
}
.titulos{
    display: flex;
    justify-content: center;
    background: #BF6900;
    color: #D7D9D7;
    margin: 5rem;
    border-radius: 0.3rem;
}
/* footer con GRIDS*/
footer{
    background: #D7D9D7;
    display: grid;
    grid-template-areas: 
    "social nosotros legal";
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 2rem;
}
.social{
    grid-area: social;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    gap: 1em;
    font-size: 1.4em;
}

.nosotros{
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.4em;
}
.legales{
    grid-area: legal;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.4em;
}

footer h5{
    font-size: 32px;
}

footer a, span{
    text-decoration: none;
    color: #646E68;
    transition: 0.3s;
}

footer a:hover, span:hover{
    color: #040F0F;
    transition: 0.3s;
}